html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

input[type="text"]
{
  font-size: 3vh;
  padding-left: .5em;
}

h1 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 4vh;
}

.title {
  text-align: center;
}

.chat-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  flex: 1;
  margin: .5em;
  font-size: 3vh;
}

.user-input {
  width: 70%;
  padding: 0;
  height: 60%
}

.bot {
  text-align: left;
  color: black;
  background-color: #E5E5EA;
  padding: .3em;
  border-radius: .2em;
  display: inline-block;
}

.bot-div {
  display: flex;
  justify-content: flex-end;
}

.user {
  text-align: right;
  color: white;
  background-color: #0B93F6;
  padding: 5px;
  border-radius: .3em;
  display: inline-block;
}

.msg-form {
  height: 15vh;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
