html, body {
  margin: 0;
  height: 100%;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

input[type="text"]
{
  font-size: 3vh;
  padding-left: .5em;
}

h1 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 4vh;
}

pre {
  margin: 0;
  font-family: sans-serif;
  white-space: pre-wrap;
}

.title {
  text-align: center;
}

.chat-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  flex: 1;
  font-size: 3vh;
  overflow-y: auto;
}

.user-input {
  width: 70%;
  padding: 0;
  height: 60%
}

.user-input-submit {
  font-size: 3.5vh;
  padding: .7em;
  background-color: transparent;
  border: none;
  color: #0B93F6;
  cursor: pointer;
}

.bot {
  text-align: left;
  color: black;
  background-color: #E5E5EA;
  padding: .5em;
  border-radius: .2em;
  display: inline-block;
  margin: .5em 1em;
}

.bot-div {
  display: flex;
  justify-content: flex-end;
}

.user {
  text-align: right;
  color: white;
  background-color: #0B93F6;
  padding: .5em;
  border-radius: .2em;
  display: inline-block;
  margin: .5em 1em;
}

.msg-form {
  height: 15vh;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 1em;
  padding-left: 3em;
}
